:root {
  --TimePickerFlyoutPresenterHighlightHeight: 40px;
  --TimePickerFlyoutPresenterAcceptDismissHostGridHeight: 41px;
  --TimePickerFlyoutPresenterItemHeight: 40px;
  --DatePickerFlyoutPresenterHighlightHeight: 40px;
  --DatePickerFlyoutPresenterAcceptDismissHostGridHeight: 41px;
  --DatePickerFlyoutPresenterItemHeight: 40px;
  --TreeViewItemMinHeight: 32px;
  --TreeViewItemContentHeight: 32px;
  --SliderPreContentMargin: 15px;
  --SliderPostContentMargin: 15px;
  --SliderHorizontalHeight: 32px;
  --SliderVerticalWidth: 32px;
  --ToggleSwitchPreContentMargin: 6px;
  --ToggleSwitchPostContentMargin: 6px;
  --DatePickerThemeMinWidth: 296px;
  --DatePickerThemeMaxWidth: 456px;
  --TimePickerThemeMinWidth: 242px;
  --TimePickerThemeMaxWidth: 456px;
  --ToggleSwitchThemeMinWidth: 154px;
  --CalendarDatePickerLeftHeaderMaxWidth: 296px;
  --ComboBoxLeftHeaderMaxWidth: 296px;
  --DatePickerLeftHeaderMaxWidth: 296px;
  --SliderLeftHeaderMaxWidth: 296px;
  --TimePickerLeftHeaderMaxWidth: 296px;
  --ToggleSwitchLeftHeaderMaxWidth: 296px;
  --TimePickerTopHeaderMargin: 0px 0px 4px 0px;
  --TimePickerLeftHeaderMargin: 5px 32px 0px 0px;
  --DatePickerTopHeaderMargin: 0px 0px 4px 0px;
  --DatePickerLeftHeaderMargin: 5px 32px 0px 0px;
  --CalendarDatePickerTopHeaderMargin: 0px 0px 4px 0px;
  --CalendarDatePickerLeftHeaderMargin: 5px 32px 0px 0px;
  --SliderTopHeaderMargin: 0px 0px 4px 0px;
  --SliderLeftHeaderMargin: 5px 32px 0px 0px;
  --ComboBoxTopHeaderMargin: 0px 0px 4px 0px;
  --ComboBoxLeftHeaderMargin: 5px 32px 0px 0px;
  --ToggleSwitchTopHeaderMargin: 0px 0px 4px 0px;
  --ToggleSwitchLeftHeaderMargin: 6px 32px 0px 0px;
  --TimePickerFlyoutPresenterItemPadding: 3px 0px 6px 0px;
  --DatePickerFlyoutPresenterItemPadding: 3px 0px 6px 0px;
  --DatePickerFlyoutPresenterMonthPadding: 3px 0px 6px 9px;
  --ToggleSwitchHeaderMargin: 0px 0px 4px 0px;
  --ButtonPadding: 4px 8px 5px 8px;
  --HyperlinkButtonPadding: 6px 0px 7px 0px;
}